.banner-container {
  background-color: #38414e;
  width: 100%;
  .banner-text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(56, 65, 78, 255);
    color: white;
    
    .headline {
      font-size: 2rem;
      margin-top: 30%;
      margin-bottom: 0;
      z-index: 300000;
      font: 40px/1.1em "opensans-bold", sans-serif;
      @media (min-width: 768px) {
        margin-top: 25%;
        font: 78px/1.1em "opensans-bold", sans-serif;
      }
      @media (min-width: 1200px) {
        font: 90px/1.1em "opensans-bold", sans-serif;
      }
    }
    .text {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 6rem;
      z-index: 20;
      color: white;
      position: relative;
      font: 14px/1.9em "librebaskerville-regular", sans-serif;
      span {
        position: absolute;
        width: 0;
        right: 0;
        border-left: 1px solid black;
        background-color: #38414e;
        animation: maquina 5s infinite alternate steps(22);
      }

      @keyframes maquina {
        from {
          width: 100%;
        }
        to {
          width: 0;
        }
      }
      @media (min-width: 768px) {
        font: 17px/1.9em "librebaskerville-regular", serif;
      }
      @media (min-width: 1200px) {
        font: 40px/1.9em "librebaskerville-regular", serif;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  height: 6rem;
  .social-list {
    position: relative;
    z-index: 10000000;
    color: white;
    font-size: 32px;
    list-style: none;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 1200px) {
      font-size: 50px;
     &:hover{
        font-size: 100px;
        color: grey;
      }
    }

  }
}
