.portfolio-container {
  background: white;
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 0;
  }
  .h1-portfolio {
    margin-top: 8rem;
    @media (min-width: 1200px) {
      grid-column: 1/1;
      margin-left: 10%;
      margin-bottom: 32rem;
    }
    .portfolio-headerline {
      border-bottom: 3px solid #11abb0;
      padding-bottom: 6px;
      letter-spacing: 3px;
    }
  }
  .item-wrap {
    width: 300px;
    height: 500px;
    box-shadow: 5px 10px 20px 1px rgb(0 0 0 / 25%);
    margin-top: 4rem;
    overflow: hidden;
    @media (min-width: 1200px) {
      transform: scale(1);
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.2);
        z-index: 30000;
      }
    }
    .overflow {
      overflow: hidden;
    }
    .img {
      width: 300px;
      height: 250px;
      
    }
    h3 {
      text-align: center;
      font-size: 22px;
      color: black;
      text-decoration: none;
      border: none;
    }
    p {
      margin-left: 1rem;
      text-decoration: none;
      color: grey;
    }
    .container-button {
      display: block;
      width: 7em;
      border: 2px solid #11abb0;
      padding: 10px;
      border-radius: 5%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      margin-top: 2rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #11abb0;
      }
    }
  }
}
