.container-about {
  background: #2b2b2b;
  padding-bottom: 66px;
  overflow: hidden;

  .container-headline {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 6%;
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .about-headline {
    font: 22px/30px 'Montserrat', sans-serif;;
    color: #fff;
    
    @media (min-width: 1200px) {
      grid-column: 2/4;
    }
  }

  .top {
    @media (min-width: 1200px) {
      position: relative;
      bottom: 5rem;
    }
  }
  .mobile {
    display: none;
    @media (min-width: 1200px) {
      display: grid;
      border-radius: 30%;
      width: 80%;
      margin-left: 10%;
    }
  }
  .text-about {
    width: 93%;
    line-height: 30px;
    color: #7a7a7a;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    font: 25px/35px 'Roboto', sans-serif;;
    @media (min-width: 1200px) {
      grid-column: 2/4;
      margin-left: 0;
      font-size: 25px;
      width: 92%;
     
    }
  }
  .contact {
    font: 25px/35px 'Roboto', sans-serif;;
    @media (min-width: 1200px) {
      grid-column: 2/3;
      margin-left: 0;
      font-size: 25px;
      margin-top: 3%;
    }
  }
}
