.container{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: black;
  background-color: #38414e;
  max-width: 1800px;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}