.portfolioD-container {
  background: white;
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1800px;
  min-width: 400;
  .img-caldar {
    width: 26rem;
    height: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .tec-container {
    display: flex;
    justify-content: space-between;
    width: 26rem;
    margin-top: 2rem;
    .styles {
      width: 4.5rem;
      background: black;
      color: white;
      border-radius: 48%;
      padding: 5px;
      text-align: center;
    }
    .url {
      width: 4rem;
      background: blue;
      color: white;
      border-radius: 48%;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .back-button {
    width: 4rem;
    padding: 8px;
    color: white;
    background: black;
    border: none;
    border-radius: 14%;
    margin-top: 4rem;
  }
}
