.footer{
    font-size: 14px;
    background-color: #38414e;
    width: 100%;
    display: flex;
    flex-direction: column;
    .ul-footer{
        display: flex;
        justify-content: space-evenly;
        font-size: 31px;
        list-style: none;
        color: white;
        .footer-list{
            color: white;
            @media (min-width: 1200px) {
                font-size: 50px;
              }

        }
    }
    .copyright{
        color: white;
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
        margin-top: -20px;
    }
    
}